// COLORS

$primary-color        : #4F48ED;
$secondary-color      : #FFBF25;
$grey                 : #F6F6F8;
$grey-blue            : #888EA8;
$dark-blue            : #282B3A;


// RADIUS

$big-radius : 30px;
$radius : 10px;

// FONT

$text-font : 'Kumbh Sans', sans-serif;
$title-font : 'inter', sans-serif;
